snippet verb "Create verbatim environment"
\begin{verbatim}
	${1}
\end{verbatim}
endsnippet

snippet tikz "Create tikz environment"
\begin{tikzpicture}
	${1}
\end{tikzpicture}
endsnippet

snippet start "My Preambule"
\documentclass[14pt]{extreport}
\usepackage[T2A]{fontenc}
\usepackage[utf8]{inputenc}
\usepackage[russian]{babel}
\usepackage{indentfirst}
\usepackage[a4paper,top=2cm,bottom=2cm,right=1.5cm,left=2.5cm]{geometry}

\begin{document}
	${1}
\end{document}
endsnippet
